<style>
*{
	margin:0;
	padding:0;
	border:0;
}
body{
	width:1090px; 
	margin:0 auto;
	background: #f2f2f2;
	background-color:#000000;
}
/**** 怨듯넻 �덉씠�꾩썐 ****/
ul{
	list-style:none;
	width:1000px;
	margin:0 auto;
	padding:10px 0;
}
ul li{
		display:inline;
	}
a{
	text-decoration: none;
}
ul li a {
	color:#000;
	background-color:#DDD;
}
ul li a:hover{
	color:#fff;
	background-color:#555;
}

/**** top ****/
#top{
	margin-top: 5px;
	background-color: #fff;
	border-radius:15px 15px 0px 0px;
	}
#top ul{
	list-style:none;
	width:1000px;
	margin:0 auto;
	padding:10px 0;
}
#top ul li{
		display:inline;
	}
#top a{
	text-decoration: none;
}
#top ul li a {
	color:#000;
}
#top ul li a:hover{
	color:#fff;
}

/**** header ****/
#header{
	width:960;
	margin-top:0px;
	background: #fff;
	border-radius:0px 0px 15px 15px;	
}

/**** main-content ****/
#wrapper{
	display:inline-block;
	margin:20px 0 20px 0;
}
	#content{
		width:960px;
		float:left;
		border-radius:15px 15px 0px 0px;
		border-top-style:inset;
		background:#ffffff;
	}
		#content1{
		width:600px;
		height:400px;
		padding: 20px;
		float:left;
		border-top:2px solid #ce0101;
		background:#0ff;
		border-radius:15px 0px 0px 0px;
		}
	#siderbar{
		width:960px;
		float:left;	
		border-radius:0px 0px 15px 15px;
		border-bottom-style:inset;
		background:gray;
	}
		#siderbar1{
			width:600px;
			height:400px;
			padding: 20px;
			float:left;
			border-top:2px solid #ce0101;
			background:#fff;
			border-radius:0px 0px 0px 15px;
		} 
	#wrapper a{
		color:blue;
	}
	#wrapper a:hover{
		text-decoration:underline;
	}

/**** footer ****/
#footer{
	clear:both;
	margin-bottom: 10px;
	background:#fff;
	border-radius: 15px;
	box-shadow: 0px 0px 10px 0px #888888;
}

/**** box ****/
.box1{
	float:left;
	width:210px;
	height:350px;
	margin:10px;
	padding:20px;
	border:5px solid #000;
	background:pink;
}
.box6{
	float:left;
	width:100px;
	margin:0px;
	border:5px solid red;
	background:red;
}
#box6 ul{
	list-style:none;
	width:1000px;
	margin:0 auto;
	padding:10px 0;
}
#box6	ul li{
		display:inline;
	}
#box6 a{
	text-decoration: none;
}
#box6 ul li a {
	color:#000;
	background-color:#DDD;
}
#box6 ul li a:hover{
	color:#fff;
	background-color:#555;
}

/**** quick ****/
.buy{
position:fixed; 
margin-left:980px;
padding:5px;
width:100px;  
background:pink;
border-top:2px solid #ce0101;
background:#fff;
border-radius: 15px;
box-shadow: 0px 0px 10px 0px #888888;
}
</style>
